<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    </head>

    <body>

        <header>
            <div class="app-title">The Sentiment Analyser</div>
        </header>

        <main>
            <section>
                <div class="form-title">Submit an article to find out it's sentiment</div>
                <form onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Name">
                    <button type="submit" name="" value="submit">Submit</button>
                </form>
                
            </section>

            <section >
                <div class="error-container">
                    <div class="error"></div>
                </div>
                <div class="form-results-title">Form Results:</div>
                <div class="results">
                    <div class="agreement"></div>
                    <div class="confidence"></div>
                    <div class="irony"></div>
                    <div class="model"></div>
                    <div class="score-tag"></div>
                    <div class="subjectivity"></div>                    
                </div>
            </section>
        </main>

        <footer>
            <div class="social-icons">
                <i class="fa-brands fa-facebook fa-2xl"></i>
                <i class="fa-brands fa-twitter fa-2xl"></i>
                <i class="fa-brands fa-youtube fa-2xl"></i>
                <i class="fa-brands fa-instagram fa-2xl"></i>
                <i class="fa-brands fa-tiktok fa-2xl"></i>
            
            </div>
        </footer>

    </body>
</html>
